on post-fs-data
    mkdir /data/kpanic 0770 system system
    mkdir /data/kpanic/pstore 0770 system system

#pstore, clean it up
service pstore-clean /system/bin/pstore-clean
    user root
    group system
    class late_start
    oneshot

