#enable Houdini for executable
service enable_houdini /system/bin/enable_houdini
    class main
    oneshot

on early-init
    # Houdini requires /system/lib/arm.  Must do this before "on init"
    # because the core init.rc sets this variable too; the first setting
    # is what is used.
    export LD_LIBRARY_PATH /vendor/lib:/system/lib:/system/lib/arm


