# Bluedroid uhid support
/dev/uhid                                    0660 net_bt net_bt

# USB bluetooth devices
usbclass:224/1/1                             0660 net_bt net_bt suspend_auto,pwr_ctrl_perm

# Bluetooth rfkill nodes
/sys/devices/*/bluetooth/hci0/rfkill* state  0660 net_bt net_bt
/sys/devices/*/bluetooth/hci0/rfkill* type   0440 net_bt net_bt
