
# libpower is using uevent files to add/remove devices so the kernel
# would power down the devices. Enable access to system account
# so libpower can do its job
/sys/devices/*/*/*/*/input*/event* ../../../enable 0644 system system
