on early-init
    # Mesa environment variables
    export MESA_EXTENSION_OVERRIDE "+GL_OES_EGL_image_external -GL_ARB_framebuffer_object"
    # Force on S3TC hardware decompression support in Mesa
    export force_s3tc_enable true

    # Mesa debugging options - see http://www.mesa3d.org/envvars.html for more details
    #export MESA_DEBUG 1
    #export LIBGL_DEBUG 1
    #export EGL_LOG_LEVEL debug

on init
    chown system system /sys/class/backlight/intel_backlight/brightness
    chown system system /sys/class/backlight/acpi_video0/brightness

on post-fs
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

