
on post-fs
    # Performance tweaks for interactive governor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboost_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse
    chmod 0222 /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse
    chmod 0222 /sys/devices/system/cpu/cpufreq/interactive/boostpulse
